.ipynb_checkpoints/

evaluation_test/__pycache__
evaluation_test/gsoc_application.pdf
evaluation_test/data/*.pt*

pose_extraction/ilya_poses
pose_extraction/.ipynb_checkpoints
pose_extraction/3d_pose_extraction/*.json
pose_extraction/3d_pose_extraction/test/vis/

models/.ipynb_checkpoints/
models/__pycache__/
models/NRI_particles_test_*
models/graphs
models/best_weights/nri_particles*
